*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: #222;
}
.card{
    color: #fff;
    width: 90%;
    max-width: 400px;
    background:linear-gradient(130deg,#00feba,#5b548a);
    margin: 100px  auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search input{
  outline: 0; 
  border: 0; 
  border-radius:30px;
  font-size: 16px;
  flex: 1;
  color:#555;
  font-weight: bold;
  background-color: #ebfffc;
  margin-right: 16px;
  padding: 10px 20px;
  height: 27px;
  text-transform: uppercase;
 

}

.search button{
    outline: 0; 
    border: 0; 
    border-radius:50%;
    background-color: #ebfffc;
   width: 60px;
    height: 60px;
    cursor: pointer;
  
  }

  .search button:hover {
    background-color: #00feba;
    transition: ALL ease-out 2s;
  
  }

  .search button img{
   width: 18px;
  
  }

  #weather{
 width: 160px;
 margin-top: 30px;
  }

  .weather h1{
    font-size: 70px;
    font-weight: 500;
  }

  .weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -30px;
    margin-bottom: 10px;
  }

  .detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .detail .col{
    display: flex;
    align-items:center;
    text-align: left;
    
  }

  .detail .col img{
    width: 40px;
    margin-right: 10px;
    
  }

  .humidity, .wind{
    font-size: 26px;
    margin-top: -10px;
  }